@media (max-width:1440px) {
    .header_navbar {
        background: #0e1726;
        padding: 20px;
        max-width: 450px;
        width: 100%;
        height: 100%;
        transform: translate(100%);
        position: fixed;
        top: 0;
        right: 0;
        transition: .3s ease-in-out;
        z-index: 9999;
    }

    .header_list {
        flex-direction: column;
        text-align: start;
        align-items: start;
        padding: 16px;
        height: 100%;
        justify-content: start;
        padding-top: 40px;
    }

    .header_link {
        color: #fff;
        /* font-size: 1.5rem; */

    }

    .header_humburger {
        display: flex;
    }

    .header_navbar.active {
        transform: translate(0%);
    }

    .close-menu {
        display: block;
    }

}

@media (max-width:1200px) {
    html{
        font-size: 15px;
    }
    h1 {
        font-size: 3.2rem;
    }

    h2 {
        font-size: 2.6rem;
    }

    .afterBanner {
        padding-bottom: 5.25rem;
    }
}

@media (max-width:1024px) {

    .afterBanner {
        padding-bottom: 4.25rem;
    }

    .banner--homepage {
        height: 580px;
    }

    .topHotel .topbar {
        margin-bottom: 5rem;
    }

    .categories_sec {
        width: 47%;
    }

    .banner {
        height: 500px;
    }

    .categories_img {
        height: 350px;
    }

    .why_sec {
        width: 48%;
    }

    .mb-10 {
        margin-bottom: 5rem;
    }

    .pb-10 {
        padding-bottom: 5rem;
    }

    .pt-10 {
        padding-top: 5rem;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    .afterBanner_content h2 {
        font-size: 2.2rem;
    }

    h3 {
        font-size: 2rem;
    }
}

@media (max-width:992px) {
    .banner--homepage {
        height: 530px;
    }

    .topHotel .topbar {
        margin-bottom: 4.5rem;
    }

    .recommended_innerSec {
        flex-direction: column;
    }

    .recommended_innerRight {
        width: 100%;
    }

    .recommended_innerRight {
        width: 100%;
    }

    .recommended_innerSec:nth-of-type(even) {
        flex-direction: column;
    }

    .recommended_innerSec:nth-of-type(even) .recommended_innerLeft {
        width: 90%;
        margin: -100px auto 0 auto;
    }

    .recommended_innerLeft {
        width: 90%;
        margin: -100px auto 0 auto;
    }

    .recommended_img {
        height: 320px;
    }

    .beforeBooking_wrapper {
        flex-direction: column;
    }

    .beforeBooking_right {
        width: 100%;
    }

    .beforeBooking_left {
        width: 100%;
    }

    .beforeBooking_wrapper {
        flex-direction: column;
    }

    .beforeBooking_right {
        width: 100%;
    }

    .beforeBooking_left {
        width: 100%;
    }

    .beforeBooking_img {
        height: 320px;
    }

    .topHotel_sec--reverse .topHotel_right {
        margin: -100px auto 0 auto;
        width: 100%;
    }

    .topHotel_sec--reverse {
        flex-direction: column-reverse;
    }

    .topHotel_sec--reverse .topHotel_left {
        width: 100%;
    }

    .topHotel_img {
        height: 320px;
        border-radius: 8px;
    }

    .topHotel_sec {
        flex-direction: column-reverse;
    }

    .topHotel_right {
        width: 100%;
        margin: -100px auto 0 auto;
    }

    .topHotel_left {
        width: 100%;
    }

    .contact_right {
        width: 100%;
        margin: 0;
        padding: 1rem;
    }

    .contact_left {
        display: none;
    }

    .mb-10 {
        margin-bottom: 4rem;
    }

    .pb-10 {
        padding-bottom: 4rem;
    }

    .pt-10 {
        padding-top: 4rem;
    }

    h1 {
        font-size: 2.8rem;
    }

    h2 {
        font-size: 2.3rem;
    }

    .afterBanner_content h2 {
        font-size: 2.1rem;
    }


    h3 {
        font-size: 1.9rem;
    }

    .header_linkImg {
        width: 85px;
        height: 80px;
    }
}

@media (max-width:768px) {
    html{
        font-size: 14px;
    }
    .categories_sec {
        width: 100%;
    }

    .afterBanner {
        padding-bottom: 3.25rem;
    }

    .topHotel .topbar {
        margin-bottom: 4rem;
    }

    .banner {
        height: 480px;
    }

    .banner--homepage {
        height: 500px;
    }

    .why_sec {
        width: 100%;
    }

    .footer-btmwrapp {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .aboutInfo_sec,
    .aboutInfo_sec:nth-of-type(even) {
        flex-direction: column-reverse;
    }

    .aboutInfo_right,
    .aboutInfo_sec:nth-of-type(even) .aboutInfo_right {
        width: 90%;
        margin: -100px auto 0 auto;
    }

    .aboutInfo_left {
        width: 100%;
    }

    .aboutInfo_img {
        height: 320px;
    }

    .contact_right {
        padding: 0.5rem 0;
    }

    .contactInfo_wrapper {
        flex-direction: column-reverse;
    }

    .contactInfo_right {
        width: 94%;
        margin: -100px auto 0 auto;
    }

    .contactInfo_left {
        width: 100%;
    }

    .contactInfo_img {
        height: 320px;
        border-radius: 8px;
    }

    .mb-10 {
        margin-bottom: 3rem;
    }

    .pb-10 {
        padding-bottom: 3rem;
    }

    .pt-10 {
        padding-top: 3rem;
    }

    h1 {
        font-size: 2.7rem;
    }

    h2 {
        font-size: 2.1rem;
    }

    h3 {
        font-size: 1.8rem;
    }

    .infoSec_wrapper {
        padding: 1.8rem 1.5rem;
    }

    .newsletter_form .input_email {
        border-bottom: 1px solid #222222;
        background-color: #fff;
        border-radius: 8px;
        padding: 12px 20px;
    }

    .newsletter_form {
        background-color: transparent;
    }

    .newsletter_form {
        background-color: transparent;
        flex-direction: column;
    }
    .newsletter_inner {
        background-color: transparent;
    }
}

@media (max-width:575px) {
    .footer_navbar ul {
        flex-direction: column;
    }

    .contact_formTop {
        flex-wrap: wrap;
    }

    .contact_fommInfo {
        width: 100%;
    }

    .mb-10 {
        margin-bottom: 2rem;
    }

    .pb-10 {
        padding-bottom: 2rem;
    }

    .pt-10 {
        padding-top: 2rem;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.7rem;
    }

    .afterBanner_content h2 {
        font-size: 1.8rem;
    }

    h3 {
        font-size: 1.4rem;
    }
    p, li {
        font-size: 1rem;
    }
    .beforeBooking_content {
        padding: 2rem 15px;
    }

}

@media screen and (max-width:480px){
    .afterBanner_content h2 {
        font-size: 1.4rem;
    }
    .infoSec_content h3 {
        font-size: 1.4rem;
    }
}


@media (max-width:350px) {
    .header_list {
        align-items: center;
    }
}